 noborrar      





body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #4a90e2;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}
button .btnProvers{
    width: 30%;
    padding: 10px;
    margin: 5px 2%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #f39c12;
    color: white;
}
